body{

 background-image: url(https://i.imgur.com/MpXDvoG.jpg);

}

.card-background{
  background-color: white;
  border-radius: 1rem;
}

.login-card {
  margin: 10% auto;
  width: 40%;
  padding-bottom: 3rem;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.login-input {
  margin: 0.5rem 0;
  font-family: monospace;
  font-size: 1.2rem;
}
.tap{
  margin-top: 1rem;
}

.sign-up {
  text-align: right;
}

/* .sign-in {
  text-align: left;
} */



@media (max-width: 1200px) {

  .login-card{
    width: 60%;
  }

  /* .login-card {
    margin-top: 10rem
  } */

}

@media (max-width: 700px) {

  .login-card{
    width: 80%;
  }

}
@media (max-width: 570px) {

  .login-card{
    width: 60%;
  }

}
@media (max-width: 360px) {

  .login-card{
    width: 70%;
  }

}
@media (max-width: 992px) {

.sign-in{
  text-align: center;
}
.sign-up{
  text-align: center;
  margin-bottom: 1.5rem;
}

}
